*{
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
	font-family: Open Sans, sans-serif;
}
ul, ol{
	list-style: none;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Oswald' !important;
}
p{
	margin: 0;
}
a, a:hover{
	text-decoration: none;
	color: #000;
}
img{
	vertical-align: middle;
}
:root{
	--primary_color: #0771b9;
	--secondary_color: #5bc5f3;
}
.head_divider{
	column-gap: 5px;
}
.divider_1{
	width: 47px;
	height: 1px;
	background: var(--primary_color);
}
.divider_2{
	width: 3px;
	height: 1px;
	background: var(--primary_color);
}
.divider_3{
	width: 2px;
	height: 1px;
	background: var(--primary_color);
}
.divider_4{
	width: 1px;
	height: 1px;
	background: var(--primary_color);
}

/*Common CSS End*/

/*Welcome Part Start*/
.welcome_part{
	background: var(--primary_color);
}
.weloceme_icon li a{
	color: #fff;
	padding:8px 10px;
	display: block;
	transition: .3s;
}
.weloceme_icon li a:hover{
	color: #353535;
}
/*Welcome Part End*/

/*Navigation Part Start/*/
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
    color: var(--primary_color);
}
/*Navigation Part End/

/*Hero Part Start*/
.hero_part{
	background-image: url(./../img/bg.jpg);
	background-size: cover;
	background-position: center;	
}
.hero_part .overlay{
	padding: 85px 0;
	background: rgba(0, 0, 0, 0.5);
}
.hero_con h1{
	font-size: 50px;
	text-transform: uppercase;
	font-weight: 350;
}
.hero_con h1:nth-child(2){
	font-weight: 700;
}
.hero_con p{
	font-size: 18px;
	padding: 20px 0;
	line-height: 1.7;
}
.hero_btn a{
	color: #fff;
	border-radius: 0;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	border: 2px solid transparent;
	transition: .4s;
}
.hero_btn a:hover{
	background: transparent;
	border: 2px solid #fff;
}
/*Hero Part End*/

/*About Part Start*/
.about_part{
	padding-top: 60px;
}
.about_head{
	padding-bottom: 35px;
}
.about_head h2{
	text-transform: uppercase;
	font-family: Oswald;
	font-weight: 600;
}
.about_con{
	font-size: 18px;
	padding: 5px 0;
	color: #555;
}
/*About Part End*/

/*Service Part Start*/
.service_con{
	background: #f1f1f1;
	padding: 50px 15px 20px;
	position: relative;
	margin-top: 35px;
}
.service_con h4{
	text-transform: uppercase;
	font-family: Oswald;
}
.service_icon{
	transition: 0.4s;
	background: #f1f1f1;
	width: 82px;
	height: 82px;
	border-radius: 50%;
	box-shadow: 0 0 0 2px #fff, 0 0 0 4px #f1f1f1, 0 0 0 7px #fff;
	position: absolute;
	top: -45px;
	left: 50%;
	transform: translateX(-50%);
}
.service_con:hover .service_icon{
	background: var(--secondary_color);
	box-shadow: 0 0 0 2px #fff, 0 0 0 4px var(--secondary_color);, 0 0 0 7px #fff;
}
.service_con:hover{
	box-shadow: rgba(100, 100, 101, 0.2) 0px 7px 29px 0px;
}
/*Service Part End*/

/*Portfolio Part Start*/
.port_img{
	position: relative;
	overflow: hidden;
}
.port_overlay{
	width: 0;
	height: 100%;
	background: #000;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transition: 0.4s;
}
.port_img:hover .port_overlay{
	opacity: 0.80;
	visibility: visible;
	width: 100%;
}
.port_overlay a{
	height: 40px;
	width: 40px;
	background: var(--secondary_color);
	border-radius: 50%;
	color: #fff;

}
/*Portfolio Part End*/

/*Team Part Start*/
.team_img{
	position: relative;
	overflow: hidden;
	transition: 0.4s;
}
.team_img:hover{
	box-shadow: rgba(100, 100, 101, 0.2) 0px 7px 29px 0px;
}
.team_img_overlay{
	width: 0;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0;
	visibility: hidden;
	transition: 0.4s;
}
.team_img:hover .team_img_overlay{
	opacity: 1;
	visibility: visible;
	width: 33.33%;
}
.team_img_overlay ul li a{
	display: block;
	height: 40px;
	width: 40px;
	border: 1px solid #fff;
	border-radius: 50%;
	color: #fff;
	margin: 5px 0;
	transition: 0.4s;
	line-height: 50px;
	
}
.team_img_overlay ul li a:hover{
	background: var(--secondary_color);
	border: 1px solid var(--secondary_color);

}
.team_con h4{
	text-transform: uppercase;
	font-weight: 600;
	padding-top: 10px;
	font-family: Oswald Medium;
	transition: 0.4s;
}
.team_img:hover ~h4{
	color: var(--secondary_color);
}
/*Team Part End*/

/*Testimonial Part Start*/
.testi_con{
	padding: 20px;
	background: #f1f1f1;
	margin-top: 35px;
	position: relative;
}
.testi_con::before{
	content: '';
	position: absolute;
	top: -10px;
	left: 50%;
	width: 45px;
	height: 45px;
	background: #f1f1f1;
	transform: translateX(-50%) rotate(45deg);
	z-index: -1;
}
.testi_con h4{
	text-transform: uppercase;
}
.testi_con p{
	font-family: 'Oswald';
	font-size: 18px;
}
.testi_con ul li{
	color: var(--secondary_color);
}
/*Testimonial Part End*/

/*Footer Part Start*/

/*Contact Part Start*/
.contact_part{
	background: #353535;
}
.contact_icon{
	height: 40px;
	width: 40px;
	background: var(--secondary_color);
	border-radius: 50%;
}
.contact_info{
	font-size: 14px;
}
/*Contact Part End*/

/*Important Part Start*/
.important_link_main ul li a{
	padding: 5px 0;
	display: block;
	color: #fff;
	transition: 0.4s;
	font-size: 15px;
}
.important_link_main ul li a:hover{
	color: var(--secondary_color);
}
/*Important Part End*/

.footer{
	background: #555;
	padding: 15px ;
}
.footer p a{
	color: var(--secondary_color);
}
/*Footer Part End*/